
<ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <i class="fas fa-water"></i>
        </div>
        <div class="sidebar-brand-text" style="font-size: 15px;">Cellular and Radio Coverage Dashboard</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'Dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard Summary</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Detailed_analysis' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Detailed Analysis</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'Simulation' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Simulation</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-users"></i>
            <span>Admin Signup/Login</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Choose Signup or Login:</h6>
                {% if user.is_authenticated %}
                <a class="collapse-item" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="collapse-item" href="{% url 'admin_login' %}">Login</a>
                {% endif %}                 
                <a class="collapse-item" href="{% url 'admin_signup' %}">Signup</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        FAQ
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'Help' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Understanding the VHF Radio Measurement Scale</span>
        </a>
    </li>


    <!-- Divider -->
    <!--<hr class="sidebar-divider"> -->

    <!-- Heading -->
   

    <!-- Nav Item - Pages Collapse Menu -->
  
    <!-- Nav Item - Charts -->
  
    <!-- Nav Item - Tables -->
  

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <!--<img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="..."> -->
        <p class="text-center mb-2"><strong>Dashboard of Cellular and Radio Coverage at sea in Trinidad & Tobago</strong> is packed with coverage maps, and graphs to visualize coverage data!</p>
    </div>

</ul>